#addCarForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 255, 192);
    padding: 20px 20px;
}

#addCarForm div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addCarForm div div {
    width: 80px;
}

input:not([type="submit"]), select {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

input[type="submit"] {
    padding: 8px 20px;
    border-radius: 20px;
}


/* card */
.card_container {
    display: flex;
    flex-wrap: wrap;
}

.car_card {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 2px 8px 2px lightgray;
    display: flex;
    align-items: center;
    margin: 20px
}

.car_pic {
    width: 100px;
    height: 100px
}

.car_card div {
    padding-left: 20px;
}

.car_card .deleteBtn {
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    top: 10px;
    right: 10px;
};

.car_card .editBtn {
    background-color: red;
    width: 300px;
}

h1 {
    margin-left: 85px;
}